/amx-items
backup/
/elpa
/projectile-bookmarks.eld
/recentf
/settings.el
/transient
/autosave
.lsp-session*
tags
eclipse.jdt.ls/
eshell/
workspace/
projectile.cache
request
network-security.data
url
bookmarks
.org-id-locations
eln-cache*
.[#]*[#]
auto-save-list*
.dir-locals.el
**/__pycache__/**
*.py[cod]
node_modules
package*
ipython/.ipython/profile_default/history*
**/__pycache__/
__pycache__
ipython/.ipython/profile_default/db/dhist
qtile/.config/qtile/__pycache__/config.cpython-310.pyc
nvim/.config/nvim/undodir/
nvim/lazy-lock.json
*emacs/.emacs.d/org-roam.db*
*nvim/.config/nvim/nvim/lazy-lock.json*
